
/* I used the selecter matching all elements in the DOM here to remove any styles like padding and 
spacing that came with the basic elements giving me a clean slate to add wanted css*/
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

/* This lines my pics up left to right with icons in order*/
.Carousel .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* My pics were stuck together and this gave them some spacing between each */
.Carousel .container div {
    padding: 0 10px;
}

 .Carousel img {
    width: 55%;
    position: absolute; 
    top: 0;
    left:0;
    box-shadow: 10px;
    
}

/* I was atempting to make the center pic larger but i need to see why its not working like i want it to */
.Carousel #pic1 {
    width: 70%px;
    /* height: 196px; */
    position: absolute; 

} 

/* my css is not finished for the carousel at this point i have a lot to go */

