* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

.Carousel .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.Carousel .container div {
    padding: 0 10px;
}

 .Carousel img {
    width: 55%;
    position: absolute; 
    top: 0;
    left:0;
    box-shadow: 10px;
    
}

.Carousel #pic1 {
    width: 70%px;
    /* height: 196px; */
    position: absolute; 

} 



